html{
    scroll-behavior: smooth;
    background-image: url('https://elements-cover-images-0.imgix.net/7372f755-21e7-49d7-864e-ca581abfc6c0?auto=compress%2Cformat&fit=max&w=1019&s=d0f11ab7bed4d1a1ad383f051f686066');
}
body{
    background-image: url(https://elements-cover-images-0.imgix.net/7372f755-21e7-49d7-864e-ca581abfc6c0?auto=compress%2Cformat&fit=max&w=1019&s=d0f11ab7bed4d1a1ad383f051f686066);
    margin: 0px;
    position: relative;
    
}
.alert{
    border-radius: 10px;
    background-color: rgb(27, 192, 27);
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
    color: white;
    text-shadow: 1px 1px 3px black;
    box-shadow: 0px 0px 1px rgb(136, 255, 0);
}
.boxAlert{
    position: fixed;
    right: 0;
    display: flex;
    justify-content: end;
    z-index: 1;
    animation: fadeInUp;
    animation-duration: 1s;
    display: none;
}
.nav{
    height: 80px;
    background: rgba(0, 0, 0, 0.822);
    backdrop-filter: blur(7px);
    margin: 0%;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4px 0px 4px;
}
.boxNav{
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxNav2{
    background-color: transparent;
    border-radius: 70px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
}
.boxNav3{
    background-color: transparent;
    height: 60px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 590px;
    right: 0;
    border-radius: 150px;
}
.identificadorQtdCarrinho{
    position: absolute;
    top:0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(224, 34, 0);
    text-align: center;
    color: white;
    border-radius: 50px;
    display: none;
    text-shadow: 0px 0px 2px black;
    font-family: Arial, Helvetica, sans-serif;
}
/*======================================================================*/
.menu{
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    backdrop-filter:blur(3px) ;
    position: fixed;
    display: none;
}
.mainMenu{
    display: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 500px;
    position: absolute;
    right:0;
    max-width: 50%;
    width: 300px;
    height: 700px;
    background-color: rgb(247, 207, 30);
    text-shadow: 1px 1px 3px black;
    padding-top: 50px;
    padding-left: 20px;
}
.carrinho{
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    backdrop-filter: blur(2px);
    position: fixed;
    display: none;

}
.navCarrinho{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
}

.boxTotalValorCart{
    display: flex;
}

.totalValorCart{
    font-weight: bolder;
    color: white;
    text-shadow: 0px 1px 3px black;
    font-size: 1.2em;
}
.textoTotal{
    font-weight: bolder;
    color: white;
    text-shadow: 0px 1px 3px black;
    font-size: 1.2em;
}

.boxPedidosMenuCart{
    background-color: rgb(250, 234, 163);
    padding: 3px;
    box-shadow: 0px 0px 3px black;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
    width: 280px;
    height: 400px;
}
.boxPedidosMenuCart::-webkit-scrollbar {
    width: 9px;             
  }
  
  .boxPedidosMenuCart::-webkit-scrollbar-track {
    background: rgb(253, 253, 253); 
    border-radius: 20px;      
  }
  
  .boxPedidosMenuCart::-webkit-scrollbar-thumb {
    background-color: rgb(255, 145, 0);    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
    border: 1px solid rgba(255, 115, 0, 0.315);  /* creates padding around scroll thumb */
  }
.mainCarrinho{
    display: none;
    position: absolute;
    left:0;
    max-width: 76%;
    width: 300px;
    height: 700px;
    background-color: rgb(247, 207, 30);
    padding: 4px;
}

.produtos{
    padding: 3px;
    max-width: 95%;
    width:400px;
    height: 80px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
}
.imgCart{
    margin-top: 3px;
    border-radius: 80px;
    overflow: hidden;
    width: 70px;
    height: 70px;
}
/*=========================================================================*/
.categoriasMenu{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}
.categoriasMenu:hover{
    color: rgb(247, 17, 1);
    text-shadow: white;
}
.titleSection{
    background-image: linear-gradient(to right, transparent, rgb(214, 178, 16),transparent);
    text-align: center;
    color: white;
    text-shadow: 1px 0px 3px black;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 50vh;
    background-color: rgb(255, 255, 255);
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://invexo.com.br/blog/wp-content/uploads/2022/10/pedaco-cortado-pizzaria-copacabana-rio-de-janeiro.jpg);
    background-size:cover;
    font-size: 1.3em;
    color: white;
    border-radius: 6px;
    text-shadow:1px 1px 2px black;
}
main{
    max-width: 900px;
    background: rgba(0, 0, 0, 0.822);
    backdrop-filter: blur(7px);
    margin: auto;
}
.pratos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(250, 234, 163);
}
.boxImgCard{
    border: 1px solid black;
    border-radius: 10px;
    height: 190px;
    width: 247px; 
    margin: auto;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgCard{
    transition: 0.3s;

}
.imgCard:hover{
    scale: 1.4;
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.PratoCard{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 240px;
    margin: auto;
    color:white;
    text-shadow: 2px 0px 3px black;
}
.ingredientesCard{
    padding-top: 5px;
    height: 50px;
    width: 240px;
    margin: auto;
    display: flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.precoCard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 240px;
    margin: auto;
    color: rgb(255, 153, 0);
    text-shadow: 1px 0px 1px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;

}
.Buy{
    box-shadow: 0px 0px 1px black;
    font-size: 1.1em;
    display: block;
    margin: auto;
    height: 26px;
    width: 160px;
    background-color: orangered;
    border: 1px solid transparent;
    color: white;
    text-shadow: 1px 1px 1px black;
}
footer{
    background: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.rodape{
    color: white;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}